.app.light {
    --bg-color: #e1dfdf;
    --inverted-bg-color: #090949;
    --primary-color: #0232c2;
    --secondary-color: #0083e0;
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #02ee02;
}
